aiohttp==3.6.2
aiojobs==0.2.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
idna==2.8
iso8601==0.1.12
kopf==0.24
multidict==4.7.4
pykube-ng==19.12.1
pynsq==0.8.3
PyYAML==5.3
requests==2.22.0
tornado==4.5.3
typing-extensions==3.7.4.1
urllib3==1.25.7
yarl==1.4.2
